<ion-content>

  <ion-button class="opc1" (click)="toAudio('uno')" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <ion-text>1</ion-text>
  </ion-button>

  <ion-button class="opc2" (click)="toAudio('dos')" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <ion-text>2</ion-text>
  </ion-button>

  <ion-button class="opc3" (click)="toAudio('tres')" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <ion-text>3</ion-text>
  </ion-button>

  <ion-button class="opc4" (click)="toAudio('cuatro')" [ngClass]="{ 'button-horizontal-cuarto': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <ion-text>4</ion-text>
  </ion-button>

  <ion-button class="opc5" (click)="toAudio('cinco')" [ngClass]="{ 'button-horizontal-quinto': this.platform.isLandscape(), 'button-vertical-quinto': !this.platform.isLandscape() }">
    <ion-text>5</ion-text>
  </ion-button>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="fondo">
      <ion-img [(src)]="this.srcIdioma"></ion-img>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="fondo" (click)="toSpanish()"><ion-img src="../../../assets/images/icon-esp.png"></ion-img></ion-fab-button>
      <ion-fab-button class="fondo" (click)="toEnglish()"><ion-img src="../../../assets/images/icon-eng.png"></ion-img></ion-fab-button>
      <ion-fab-button class="fondo" (click)="toGerman()"><ion-img src="../../../assets/images/icon-ger.png"></ion-img></ion-fab-button>
      <ion-fab-button class="fondo" (click)="toPortuguese()"><ion-img src="../../../assets/images/icon-por.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fondo">
      <ion-img [(src)]="this.srcCategoria"></ion-img>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="fondo" (click)="toAnimales()"><ion-img src="../../../assets/images/mapache.png"></ion-img></ion-fab-button>
      <ion-fab-button class="fondo" (click)="toColores()"><ion-img src="../../../assets/images/colores.png"></ion-img></ion-fab-button>
      <ion-fab-button class="fondo" (click)="toNumeros()"><ion-img src="../../../assets/images/numeros.png"></ion-img></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>