* {
    --ion-font-family: "Comic Sans MS";
}

ion-button {
    --background: #7044ff;
}

ion-content {
    --background: rgb(230, 230, 230);
}

ion-card {
    --background: #FFFFFF;
}

.vertical-move-down {
    margin-top: 12%;
}