ion-button {
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    --border-radius: 0;
}

.button-vertical {
    height: 25%;
    width: 100%;
}

.button-horizontal {
    height: 50%;
    width: 50%;
}

.esp {
    --background: #C70318;
}

.eng {
    --background: #001F7E;
}