<ion-content>

  <ion-button class="esp" (click)="toSpanish()" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <img src="../../../assets/images/ESPx512.png" width="100%">
  </ion-button>

  <ion-button class="eng" (click)="toEnglish()" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <img src="../../../assets/images/ENGx512.png" width="100%">
  </ion-button>

  <ion-button class="eng" (click)="toGerman()" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <img src="../../../assets/images/GERx512.png" width="100%">
  </ion-button> 

  <ion-button class="eng" (click)="toPortuguese()" [ngClass]="{ 'button-horizontal': this.platform.isLandscape(), 'button-vertical': !this.platform.isLandscape() }">
    <img src="../../../assets/images/PORx512.png" width="100%">
  </ion-button> 

</ion-content>